#mainDiv {
	background-color:  #A0A0A0;
}

.header {
	text-align: center;
	font-size: 1.3em;
	padding-top: 1em;
}

.pararaph {
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.imageTable {
/*	border-collapse: collapse;*/
	border-spacing: 10px;
	margin-left: auto;
	margin-right: auto;
}

.imageTabel, .imageTable tr, .imageTable td {
	border: medium solid black;
}